@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Slabo 27px', sans-serif;

}

body{
    background-image: ;
    background-size: cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
    
       
       


        
}

.contact-us {
    width: 400px;
    background: rgb(162, 31, 31);
    margin: 200px left;
    padding: 40px;
    border-radius: 30px;
    height: 400px;
    margin-left:400px;
    margin-top: 1rem;
    margin-right: 5rem;
    

}
.title h1{
    margin-bottom: 25px;
    text-align: center;
}

.body h1{
 margin-bottom: 25px;
    text-align: center;
}


.form-item .email{
    width: 100%;
    margin-bottom: 12px;
    padding: 10px 30px;
    box-sizing: border-box;
    background: white;
    outline: none;
    border-radius: 15px;}

    .form-item .name{
    width: 100%;
    margin-bottom: 12px;
    padding: 10px 30px;
    box-sizing: border-box;
    background: white;
    outline: none;
    border-radius: 15px;
    
}

.form-item .message{
    width: 100%;
    margin-bottom: 12px;
    padding: 10px 30px;
    box-sizing: border-box;
    background: white;
    outline: none;
    border-radius: 15px;}

    .form-item .title{
    width: 100%;
    margin-bottom: 12px;
    padding: 10px 30px;
    box-sizing: border-box;
    background: white;
    outline: none;
    border-radius: 15px;}

   

    .form-item .message{
    margin-bottom: 30px;
    padding: 5px;
    height: 120px;
}


.submit{
    background: #E1BEE7;
    text-align: center;
    padding: 20px;
    margin-left: 170px;
    margin-bottom: 100px;
    border-radius: 100px;
  
}

  


